﻿@model PumpMyPump.Models.Muscle

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Id)

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label for="@Model.Name" class="col-sm-2 control-label">Название:</label>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <input type="submit" value="@(Model.Id == 0 ? "Добавить" : "Сохранить")" class="btn btn-success" />
            <a href="@Url.Action("Index")" class="btn btn-default">
                Назад
            </a>
        </div>
</div>
