﻿@using PumpMyPump.Helpers
@model IEnumerable<PumpMyPump.Models.Exercise>

@{
    ViewBag.Title = "Упражнения";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = AuthHelper.User;
    string search = ViewBag.SearchName;
    IEnumerable<SelectListItem> ScoreList = PumpMyPump.Helpers.AppHelper.ScoreListAll;
    IEnumerable<SelectListItem> LevelList = PumpMyPump.Helpers.AppHelper.LevelListAll;
}
<h2>Упражнения</h2>

<form action="@Url.Action("Index")" method="get">
    <div class="row">
        <div class="col-md-4">
            @Html.Hidden("sortBy")
            @Html.Hidden("isAsc")
            @Html.TextBox("SearchName", search, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.DropDownList("SearchLevel", LevelList, new { @class = "selectpicker", @data_live_search = "true" })
        </div>
        <div class="col-md-3">
            @Html.DropDownList("SearchScore", ScoreList, new { @class = "selectpicker", @data_live_search = "true" })
        </div>
        <div class="col-md-2">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-btn-info">
                    Поиск
                </button>
                <a href="@Url.Action("Index")" class="btn btn-default">
                    Сброс
                </a>
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th class="col-md-2">
                @SortHelper.Link("Exercise", "Название", "name", ViewBag.SortBy, ViewBag.IsAsc)
            </th>
            <th class="col-md-1">
                @SortHelper.Link("Exercise", "Уровень", "level", ViewBag.SortBy, ViewBag.IsAsc)
            </th>
            <th class="col-md-1">
                @SortHelper.Link("Exercise", "Цель", "score", ViewBag.SortBy, ViewBag.IsAsc)
            </th>
            <th class="col-md-2">
                Часть тела
            </th>
            <th class="col-md-2">
                Мышца
            </th>
            <th class="col-md-2">
                Снаряд
            </th>
            <th class="col-md-2">
            </th>
        </tr>
    </table>
</form>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-2">
                @if (user.IsAdmin || (user.IsUser && @item.UserId == user.Id))
                {
                    <a href="@Url.Action("Edit", new { id = item.Id })">
                        @item.Name
                    </a>
                }
            </td>
            <td class="col-md-1">
                @item.LevelType.Name
            </td>
            <td class="col-md-1">
                @item.ScoreType.Name
            </td>
            <td class="col-md-2">
                @item.BodyPart.Name
            </td>
            <td class="col-md-2">
                @item.Muscle.Name
            </td>
            <td class="col-md-2">
                @item.SportEquip.Name
            </td>
            <td class="col-md-2">
                @if (user.IsAdmin || (user.IsUser && @item.UserId == user.Id))
                {
                    using (Html.BeginForm("Delete", "Exercise", new { id = item.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-sm btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                }
                else
                {
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-sm btn-info">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                }
            </td>
        </tr>
    }
</table>
@if (Model.Count() == 0)
{
    <h3>Список пуст.</h3>
}
<div class="row">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Create")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить
        </a>
    </div>
</div>
