﻿@using PumpMyPump.Helpers
@model IEnumerable<PumpMyPump.Models.Training>

@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = AuthHelper.User;
}

<div class="jumbotron">
    <div class="container">
        <h1>Pump my pump</h1>
        <p>Сервис по подбору и созданию тренировок</p>
    </div>
</div>

@if (AuthHelper.IsLoginUser)
{

    <h3>Рекомендуемые тренировки по вашему уровню и цели</h3>
    <table class="table">
        <tr>
            <th class="col-md-4">
                @SortHelper.Link("Training", "Название", "name", ViewBag.SortBy, ViewBag.IsAsc)
            </th>
            <th class="col-md-3">
                @SortHelper.Link("Training", "Уровень", "level", ViewBag.SortBy, ViewBag.IsAsc)
            </th>
            <th class="col-md-3">
                @SortHelper.Link("Training", "Цель", "score", ViewBag.SortBy, ViewBag.IsAsc)
            </th>
            <th class="col-md-2">
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th class="col-md-4">
                    @item.Name
                </th>
                <th class="col-md-3">
                    @item.LevelType.Name
                </th>
                <th class="col-md-3">
                    @item.ScoreType.Name
                </th>
                <td class="col-md-2">
                    <a href="@Url.Action("Details", "Training", new { id = item.Id })" class="btn btn-sm btn-info">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
            </tr>
        }
    </table>
    if (Model.Count() == 0)
    {
        <h4>Список пуст.</h4>
    }
}
