﻿<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        @Html.ActionLink("Pump", "Index", "Home", new { area = "" }, new { @id = "logo" })
        <nav>
            @if (PumpMyPump.Helpers.AuthHelper.IsLoginUser)
            {
                <ul class="nav navbar-nav navbar-left">
                    @if (PumpMyPump.Helpers.AuthHelper.User.IsAdmin)
                    {
                        <li>
                            @Html.ActionLink("Части тела", "Index", "BodyPart")
                        </li>
                        <li>
                            @Html.ActionLink("Мышцы", "Index", "Muscle")
                        </li>
                    }
                    <li>
                        @Html.ActionLink("Снаряды", "Index", "SportEquip")
                    </li>
                    <li>
                        @Html.ActionLink("Упражнения", "Index", "Exercise")
                    </li>
                    <li>
                        @Html.ActionLink("Тренировка", "Index", "Training")
                    </li>
                    @if (PumpMyPump.Helpers.AuthHelper.User.IsAdmin)
                    {
                        <li>
                            @Html.ActionLink("Пользователи", "Index", "User")
                        </li>
                    }
                </ul>
            }

            @if (!PumpMyPump.Helpers.AuthHelper.IsLoginUser)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Регистрация", "Index", "SignIn")
                    </li>
                    <li>
                        @Html.ActionLink("Авторизация", "Index", "Login")
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index", "Profile")">@PumpMyPump.Helpers.AuthHelper.User.Email</a>
                    </li>
                    <li>
                        @Html.ActionLink("Выход", "Logout", "Login")
                    </li>
                </ul>
            }
        </nav>
    </div>
</header>