﻿@using PumpMyPump.Helpers
@model IEnumerable<PumpMyPump.Models.User>

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Части тела</h2>
<table class="table">
    <tr>
        <th class="col-md-2">
            @SortHelper.Link("User", "Email", "Email", ViewBag.SortBy, ViewBag.IsAsc)
        </th>
        <th class="col-md-2">
            @SortHelper.Link("User", "Роль", "Role", ViewBag.SortBy, ViewBag.IsAsc)
        </th>
        <th class="col-md-1">
            @SortHelper.Link("User", "Вес", "Weight", ViewBag.SortBy, ViewBag.IsAsc)
        </th>
        <th class="col-md-1">
            @SortHelper.Link("User", "Рост", "Length", ViewBag.SortBy, ViewBag.IsAsc)
        </th>
        <th class="col-md-2">
            @SortHelper.Link("User", "Уровень", "Level", ViewBag.SortBy, ViewBag.IsAsc)
        </th>
        <th class="col-md-2">
            @SortHelper.Link("User", "Цель", "Score", ViewBag.SortBy, ViewBag.IsAsc)
        </th>
        <th class="col-md-2">
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-2">
                <a href="@Url.Action("Edit", new { id = item.Id })">
                    @item.Email
                </a>
            </td>
            <td class="col-md-2">
                @item.RoleType.Name
            </td>
            <td class="col-md-1">
                @item.Weight
            </td>
            <td class="col-md-1">
                @item.Length
            </td>
            <td class="col-md-2">
                @item.LevelType.Name
            </td>
            <td class="col-md-2">
                @item.ScoreType.Name
            </td>
            <td class="col-md-2">
                @using (Html.BeginForm("Delete", "User", new { id = item.Id }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                }
            </td>
        </tr>
    }
</table>
<div class="row">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Create")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить
        </a>
    </div>
</div>